[Unit]
Description=Lock sessions if laptop is shake
ConditionPathIsDirectory=/sys/bus/iio

[Service]
ExecStart=/usr/bin/gyrolock
Restart=always
Environment="SENSITIVITY=10"

# Lockdown
ProtectSystem=strict
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
PrivateTmp=true
RestrictAddressFamilies=AF_UNIX
MemoryDenyWriteExecute=true
RestrictRealtime=true

[Install]
WantedBy=basic.target
